{% extends "base.html" %}

{% block content %}

<div class="row">
    
    <div class="col-xs-6 col-sm-offset-3">
        <h1>About Us</h1>
        <p class="">This is about us. This is about us. This is about us.
            This is about us. This is about us. This is about us. This is about us. </p>
        <p class="">This is about us. This is about us. This is about us.
            This is about us. This is about us. This is about us. This is about us. </p>
        <p class="">This is about us. This is about us. This is about us.
            This is about us. This is about us. This is about us. This is about us. </p>
        <p class="">This is about us. This is about us. This is about us.
            This is about us. This is about us. This is about us. This is about us. </p>
    </div>

</div>

{% endblock %}